<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>

    <style>

        td {text-align: center;}

    </style>

</head>

<body>

<table>

    <tr>

        <th> Departure </th>

        <th> Arrival </th>

        <th> Date </th>

        <th> Departure time </th>

        <th> Arrival time </th>

        <th> Delete flight </th>

    </tr>

    <tr	th:each="flight : ${flights}">

        <td th:text="${flight.getFromAirport().getName()}"> </td>

        <td th:text="${flight.getToAirport().getName()}"> </td>

        <td th:text="${flight.getDepartureDate()}"> </td>

        <td th:text="${flight.getDepartureTime()}"> </td>

        <td th:text="${flight.getArrivalTime()}"> </td>

        <td>

            <form th:action="@{/delete-flight}" method="post">

                <input type="hidden" name="flightCode" th:value="${flight.getId()}" />

                <button type="submit"> Delete</button>

            </form>

        </td>

    </tr>

</table>

</body>

</html>