<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" lang="en">


    <body>

        <form action="/user-registration" th:object="${user}" method="post">

            <label for = "firstName"> First name: </label>
            <input type="text" id = "firstName" th:field="*{firstName}"> <br><br>

            <label for = "lastName"> Last name: </label>
            <input type="text" id = "lastName" th:field="*{lastName}"> <br><br>

            <label for = "email"> Email: </label>
            <input type = "text" id = "email" th:field="*{email}"> <br><br>
            
            <label for = "password"> Password: </label>
            <input type = "text" id = "password" th:field="*{password}"> <br><br>

            <label for = "confirmPassword"> Confirm password: </label>
            <input type = "text" id = "confirmPassword" th:field="*{confirmPassword}"> <br><br>

            <input type = "submit" value="Register">
            </form>

    </body>

</html>